<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/styles.css" />
    <style>

    </style>
</head>
<body class="hbody">
    <header>
        <a href="~/Index"> <img src="~/img/clublogo.png" alt="Club BAIST Logo" class="logo"></a>
        <nav class="hnav">     
            <a href="~/Index">Home</a>
            <a href="#">Tee Times</a>
            <a href="#">Memberships</a>
            <a href="#">Events</a>
            <a href="#">Contact</a>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
