@page
@model ClubBAISTGolfClub.Pages.ForbiddenModel
@{
}
<div class="bookTee">
    <nav class="memberhome_nav">
        <ul>
            <li>
                <a href="~/MemberHome">My Account</a>
            </li>
            <li>
                <a href="~/BookTeeTime">Tee Times</a>
            </li>
            <li>
                <a href="~/TeeTimeReservations">Reservations</a>
            </li>
            
        </ul>
    </nav>
    <div class="infodiv">
       <h2>You have No permission to Access this Page</h2>
    </div>
</div>
