@page
@model ClubBAISTGolfClub.Pages.IndexModel
@{
}
<div class="intro">
    <div class="introsec transition-fade">
      <h1>Welcome to Club BAIST Golf Club</h1>
      <div>
        <p>New Here?</p>
        <a href="~/SignUp">Get Membership</a>
        <p>Have an Account?</p>
        <a href="~/Login">Log In</a>
      </div>  
  </div>  
</div>