@page
@model ClubBAISTGolfClub.Pages.LoginModel
@{
}

<div class="login-container">
    <div class="login-page">
        <h2 class="transition-fade-down">Welcome Back</h2>
        <form method="post" class="loginform transition-fade">
            <h2>Sign In</h2>
            <input type="text" id="username" name="Email" placeholder="Email" class="input" required><br />
            <input type="password" id="password" name="Password" placeholder="Password" class="input" required /><br />
            <input type="submit" name="submit" value="Sign In" class="button input" />
            <p class="@Model.AlertClass">@Model.Message</p>
        </form>
    </div> 
</div>