<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Khand:wght@300&display=swap" rel="stylesheet">
    @RenderSection("scriptDDAVAlidation", required: false)
    @RenderSection("scriptCreateProgramValidation", required: false)
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
